/* popins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #ffffff;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 20px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}
/* top players aria */
.top-players{
    margin-bottom: 30px;
    
}
.section-titel{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
    font-family: 'Poppins', sans-serif;

}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.players-name{
    margin-left: 16px;
    font-size: 18px;
}
/* top bloh style */
.blog{
    display: flex;
}
.blog-colam{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog .thamneil img{
    width: 177px;
height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-titel{
    font-size: 20px;
}
.blog-auther{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-auther a{
    text-decoration: none;
    color: color: #562EFF;
    
}




.sectino-titel{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.courses{
    display: flex;
    justify-content: space-between;
}
.course{
    padding: 10px 10px 10px 0px;

}
.course-bener img{
    width: 224px;
    height: 104px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star.filled{
    color:#FFC014;
}
.fa-star.emty{
    color: #AEAEAE;

}
.fa-star{
    font-size: 12px;
}
.fa-clock-hr{
    background: #FFE4E8;
    padding: 5px 10px;
    border-radius: 20px;
    
    color: #ED6B4F;
}
.{
    margin: 0px 20px;
}
span{
    
    color: #ED6B4F;;
}
